@model WebAppCondominio.Models.Condominio

@{
    ViewData["Title"] = "Detalhes do Condominio";
}

<h2>Detalhes</h2>

<div>
    <h4>Condominio</h4>
    <hr />
    <dl class="dl-left">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
    </dl>
</div>
<div>
    <!--<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CondominioID">Editar</a>
    <a class="btn btn-default" data-dismiss="modal">Fechar</a>-->
</div>
