@model WebAppCondominio.Models.Familia

@{
    ViewData["Title"] = "Detalhes da Familia";
}

<h2>Detalhes</h2>

<div>
    <h4>Familia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Condominio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condominio.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.FamiliaId">Editar</a> 
    <a class="btn btn-default" asp-action="Index">Voltar</a>
</div>
