@model IEnumerable<WebAppCondominio.Models.Familia>

@{
    ViewData["Title"] = "Familias";
}

<h2>Familias</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condominio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condominio.Nome)
            </td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.FamiliaId">Editar</a>
                <!--<a class="btn btn-default" asp-action="Details" asp-route-id="@item.FamiliaId">Detalhes</a>-->
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FamiliaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
