@model WebAppCondominio.Models.Morador

@{
    ViewData["Title"] = "Excluir Morador";
}

<h2>Excluir</h2>

<div>
    <h4>Morador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Familia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Familia.Nome)
        </dd>
        <dt>
            Qtde Bichos Estimação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeBichosEstimacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MoradorID" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-default" asp-action="Index">Voltar</a>
    </form>
</div>
