@model WebAppCondominio.Models.Morador

@{
    ViewData["Title"] = "Detalhes do Morador";
}

<h2>Detalhes</h2>

<div>
    <h4>Morador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Familia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Familia.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeBichosEstimacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeBichosEstimacao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.MoradorID">Editar</a>  
    <a class="btn btn-default" asp-action="Index">Voltar</a>
</div>
